<a href="https://colab.research.google.com/github/heeeeeho/BigData_Analyst/blob/main/%EB%B9%85%EB%B6%84%EA%B8%B0_%EC%88%98%EC%A7%88_%EC%9D%8C%EC%9A%A9%EC%84%B1_%EC%97%AC%EB%B6%80_%EB%8D%B0%EC%9D%B4%ED%84%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 수질 음용성 여부 데이터

In [1]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/train.csv")
df.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,7.918150,214.186611,23823.492888,7.290878,341.173322,411.424483,19.585002,25.057375,4.028958,0
1,5.422446,205.266080,18542.957451,5.491963,306.702227,382.080129,10.504023,67.493450,2.911751,1
2,7.341547,187.672402,21273.457066,7.784003,NaN,332.084293,16.842334,55.019151,4.025644,0
3,9.056245,197.666301,17403.532167,7.688917,337.460176,414.766631,15.349869,63.696746,3.319354,0
4,5.039374,142.860598,40829.353167,7.271543,NaN,386.803057,16.823773,52.297113,4.957420,0

Q. ph값은 상당히 많은 결측치를 포함한다. 결측치를 제외한 나머지 데이터들 중 사분위값 기준 하위 25%의 값들의 평균값은?

In [4]:
c1 = df[df['ph'].notnull()]
c1

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,7.918150,214.186611,23823.492888,7.290878,341.173322,411.424483,19.585002,25.057375,4.028958,0
1,5.422446,205.266080,18542.957451,5.491963,306.702227,382.080129,10.504023,67.493450,2.911751,1
2,7.341547,187.672402,21273.457066,7.784003,NaN,332.084293,16.842334,55.019151,4.025644,0
3,9.056245,197.666301,17403.532167,7.688917,337.460176,414.766631,15.349869,63.696746,3.319354,0
4,5.039374,142.860598,40829.353167,7.271543,NaN,386.803057,16.823773,52.297113,4.957420,0
...,...,...,...,...,...,...,...,...,...,...
2614,8.115625,200.099013,15513.012581,6.046111,NaN,421.060326,8.320276,53.775592,4.408812,0
2615,8.060610,208.042711,15489.325660,5.620299,361.970424,423.420838,15.371550,75.445589,3.600906,0
2616,8.238997,199.594539,25046.798640,9.288020,350.835986,328.363398,18.743231,54.416965,3.089924,1
2617,5.694694,240.712182,7998.674511,8.124265,NaN,477.047807,15.459307,68.895603,3.870611,1
2619,5.907078,213.471081,41839.456449,7.924762,312.329947,357.258970,15.598965,54.421879,4.296480,0

In [10]:
my_answer = c1[c1['ph'] <= c1['ph'].quantile(.25)]['ph'].mean()
my_answer

5.057093462441731

In [11]:
target = df['ph'].dropna()
answer =target.loc[target <= target.quantile(0.25)].mean()
print(answer)

5.057093462441731