<a href="https://colab.research.google.com/github/heeeeeho/BigData_Analyst/blob/main/%EB%B9%85%EB%B6%84%EA%B8%B0_%EC%9C%A0%ED%8A%9C%EB%B8%8C_%EA%B3%B5%EB%B2%94%EC%BB%A8%ED%85%90%EC%B8%A0_%EB%8F%99%EC%98%81%EC%83%81_%EB%8D%B0%EC%9D%B4%ED%84%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 유튜브 공범컨텐츠 동영상 데이터

In [2]:
import pandas as pd

channel =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv')
video =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv')
display(channel.head())
display(video.head())

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,꽈뚜룹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,꽈뚜룹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,꽈뚜룹
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,꽈뚜룹
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,꽈뚜룹

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,공범 EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,공범 EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,공범 EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,공범 EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,공범 EP1

In [3]:
# Q. 각 데이터의 ‘ct’컬럼을 시간으로 인식할수 있게 datatype을 변경하고 video 데이터의 videoname의 각 value 마다 몇개의 데이터씩 가지고 있는지 확인하라

In [4]:
channel['ct'] = pd.to_datetime(channel['ct'])

In [5]:
video['ct'] = pd.to_datetime(video['ct'])

In [6]:
my_answer = video.value_counts('videoname')
print(my_answer)

videoname
 공범 EP1    3492
 공범 EP2    3204
 공범 EP3    2568
 공범 EP4    2280
 공범 EP5    1562
 공범 EP6    1274
 공범 EP7     555
 공범 EP8     266
dtype: int64

In [7]:
video['ct'] = pd.to_datetime(video['ct'])
answer = video.videoname.value_counts()
print(answer)

 공범 EP1    3492
 공범 EP2    3204
 공범 EP3    2568
 공범 EP4    2280
 공범 EP5    1562
 공범 EP6    1274
 공범 EP7     555
 공범 EP8     266
Name: videoname, dtype: int64

In [8]:
# my_answer에는 videoname이 포함되어 있는데, 오답으로 처리되려나...?

In [9]:
# Q. 수집된 각 video의 가장 최신화 된 날짜의 viewcount값을 출력하라

In [10]:
# 1. 최신 날짜 순으로 정렬

In [11]:
video.sort_values('ct', ascending=False)

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,공범 EP8
13660,QUjQbgj5IXM,1630200,29335,400,0,18247,2021-11-01 15:30:05,공범 EP7
14934,AxGKHmXyuAE,1750222,24494,389,0,13025,2021-11-01 15:30:04,공범 EP6
13105,hv7FBjskAu0,1503435,19926,421,0,12434,2021-11-01 15:30:04,공범 EP5
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,공범 EP1
...,...,...,...,...,...,...,...,...
14,c5JQp6xafqc,36559,2306,23,0,602,2021-10-07 19:50:03,공범 EP1
13,c5JQp6xafqc,27451,1859,19,0,479,2021-10-07 19:40:03,공범 EP1
12,c5JQp6xafqc,19991,1446,12,0,363,2021-10-07 19:30:03,공범 EP1
11,c5JQp6xafqc,13087,1113,7,0,273,2021-10-07 19:20:02,공범 EP1
10,c5JQp6xafqc,6396,680,3,0,226,2021-10-07 19:10:03,공범 EP1

In [12]:
# 2. videoname 기준으로 drop_duplicates > 날짜 기준으로 정렬해두었으므로 최신 날짜 이후의 중복 값들이 제거된다.

In [13]:
video.sort_values('ct', ascending=False).drop_duplicates('videoname')

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,공범 EP8
13660,QUjQbgj5IXM,1630200,29335,400,0,18247,2021-11-01 15:30:05,공범 EP7
14934,AxGKHmXyuAE,1750222,24494,389,0,13025,2021-11-01 15:30:04,공범 EP6
13105,hv7FBjskAu0,1503435,19926,421,0,12434,2021-11-01 15:30:04,공범 EP5
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,공범 EP1
6695,23QQ1ru9YQg,2199328,25566,763,0,9171,2021-11-01 15:30:03,공범 EP2
11543,bK0_3Vbfvs8,1818493,22703,408,0,16949,2021-11-01 15:30:03,공범 EP4
9263,GygoAk1hDU0,1671294,22719,508,0,12499,2021-11-01 15:30:03,공범 EP3

In [14]:
# 3. videoname 기준으로 오름차순 정렬하고 깔끔하게 videoname, ct, viewcnt만 추출

In [15]:
video.sort_values('ct', ascending=False).drop_duplicates('videoname').sort_values('videoname')[['videoname','ct','viewcnt']]

      videoname                  ct  viewcnt
3491     공범 EP1 2021-11-01 15:30:03  3180532
6695     공범 EP2 2021-11-01 15:30:03  2199328
9263     공범 EP3 2021-11-01 15:30:03  1671294
11543    공범 EP4 2021-11-01 15:30:03  1818493
13105    공범 EP5 2021-11-01 15:30:04  1503435
14934    공범 EP6 2021-11-01 15:30:04  1750222
13660    공범 EP7 2021-11-01 15:30:05  1630200
15200    공범 EP8 2021-11-01 15:30:05  1289088

In [16]:
# Q. Channel 데이터중 2021-10-03일 이후 각 채널의 처음 기록 됐던 구독자 수(subcnt)를 출력하라

In [17]:
# 1. 2021-10-03 이후만 추출

In [18]:
channel[channel['ct'] >= '2021-10-03']

,channelid,subcnt,viewcnt,videocnt,ct,channelname
12,UCkQCwnkQfgSuPTTnw_Y7v7w,1330000,414984078,738,2021-10-03 03:01:04,꽈뚜룹
13,UCkQCwnkQfgSuPTTnw_Y7v7w,1330000,417316443,738,2021-10-03 09:01:04,꽈뚜룹
14,UCkQCwnkQfgSuPTTnw_Y7v7w,1330000,417316443,738,2021-10-03 15:01:04,꽈뚜룹
15,UCkQCwnkQfgSuPTTnw_Y7v7w,1330000,417316443,738,2021-10-03 21:01:04,꽈뚜룹
16,UCkQCwnkQfgSuPTTnw_Y7v7w,1330000,417316443,738,2021-10-04 03:01:04,꽈뚜룹
...,...,...,...,...,...,...
1390,UCbBzKnCYcG7E3EIkSTdsawA,56700,7528614,57,2021-10-31 15:01:04,Balming Tiger
1391,UCbBzKnCYcG7E3EIkSTdsawA,56700,7528614,57,2021-10-31 21:01:04,Balming Tiger
1392,UCbBzKnCYcG7E3EIkSTdsawA,56800,7528614,57,2021-11-01 03:01:03,Balming Tiger
1393,UCbBzKnCYcG7E3EIkSTdsawA,56800,7539876,57,2021-11-01 09:01:04,Balming Tiger
1394,UCbBzKnCYcG7E3EIkSTdsawA,56800,7539876,57,2021-11-01 15:01:07,Balming Tiger

In [19]:
# 2. channelid를 기준으로 drop_duplicates를 통해 최근 날짜만 남긴다.

In [20]:
channel[channel['ct'] >= '2021-10-03'].drop_duplicates('channelid')

,channelid,subcnt,viewcnt,videocnt,ct,channelname
12,UCkQCwnkQfgSuPTTnw_Y7v7w,1330000,414984078,738,2021-10-03 03:01:04,꽈뚜룹
139,UCEI4rb8YldV8v0dVUSo9ToQ,257000,28415226,73,2021-10-03 03:01:02,야전삽짱재
266,UCqwNCDzQBfw2seMRJpL-RWg,322000,71955394,212,2021-10-03 03:01:02,츄정ChuJeong
393,UCDV9zgWo7b6nPg7i49oRQ5Q,922000,99187513,82,2021-10-03 03:01:02,논리왕 전기
520,UClu0udsIHkalM416ttWe_Zw,55000,4681137,107,2021-10-03 03:01:03,와글와글 WagleWagle
647,UCM9Rx3EqBJ-jMhD2E8Gjb4g,215000,15902641,60,2021-10-03 03:01:03,조나단
774,UCI9W73BWje69k7f1m_I4mbQ,14900,206221,49,2021-10-03 03:01:03,형사!탐정되다
901,UCOYhhfLMGY8OjsbfGNVf7Lw,7520,1444890,15,2021-10-03 03:01:03,김농밀의 농밀한 삶
1028,UCKOeR5Evsupc77nPL3qCMnw,10100,188523,21,2021-10-03 03:01:03,릴펄 Lilpearl
1155,UCs9H--14toIRdJQAD9qz9tA,471000,128772621,548,2021-10-03 03:01:04,곽토리 kwak tori
1276,UCbBzKnCYcG7E3EIkSTdsawA,54300,7050078,54,2021-10-03 03:01:04,Balming Tiger

In [21]:
# 3. ct, channelname을 기준으로 오름차순 정렬 후 channelname, subcnt만 추출

In [22]:
my_answer = channel[channel['ct'] >= '2021-10-03'].drop_duplicates('channelid').sort_values(['ct','channelname'])[['channelname','subcnt']]
print(my_answer)

          channelname   subcnt
393            논리왕 전기   922000
139             야전삽짱재   257000
266        츄정ChuJeong   322000
901        김농밀의 농밀한 삶     7520
1028      릴펄 Lilpearl    10100
520   와글와글 WagleWagle    55000
647               조나단   215000
774           형사!탐정되다    14900
1276    Balming Tiger    54300
1155    곽토리 kwak tori   471000
12                꽈뚜룹  1330000

In [23]:
channel.ct = pd.to_datetime(channel.ct)
target = channel[channel.ct >= pd.to_datetime('2021-10-03')].sort_values(['ct','channelname']).drop_duplicates('channelname')
answer = target[['channelname','subcnt']].reset_index(drop=True)
print(answer)

        channelname   subcnt
0            논리왕 전기   922000
1             야전삽짱재   257000
2        츄정ChuJeong   322000
3        김농밀의 농밀한 삶     7520
4       릴펄 Lilpearl    10100
5   와글와글 WagleWagle    55000
6               조나단   215000
7           형사!탐정되다    14900
8     Balming Tiger    54300
9     곽토리 kwak tori   471000
10              꽈뚜룹  1330000

In [24]:
# reset_index가 필요한가...?

In [25]:
# Q. 각채널의 2021-10-03 03:00:00 ~ 2021-11-01 15:00:00 까지 구독자수 (subcnt) 의 증가량을 구하여라

In [26]:
# 1. 2021-10-03 03:00:00 ~ 2021-11-01 15:00:00만 추출

In [27]:
new = channel[(channel['ct'] >= '2021-10-03 03:00:00') & (channel['ct'] <= '2021-11-01 15:00:00')]
new

,channelid,subcnt,viewcnt,videocnt,ct,channelname
12,UCkQCwnkQfgSuPTTnw_Y7v7w,1330000,414984078,738,2021-10-03 03:01:04,꽈뚜룹
13,UCkQCwnkQfgSuPTTnw_Y7v7w,1330000,417316443,738,2021-10-03 09:01:04,꽈뚜룹
14,UCkQCwnkQfgSuPTTnw_Y7v7w,1330000,417316443,738,2021-10-03 15:01:04,꽈뚜룹
15,UCkQCwnkQfgSuPTTnw_Y7v7w,1330000,417316443,738,2021-10-03 21:01:04,꽈뚜룹
16,UCkQCwnkQfgSuPTTnw_Y7v7w,1330000,417316443,738,2021-10-04 03:01:04,꽈뚜룹
...,...,...,...,...,...,...
1389,UCbBzKnCYcG7E3EIkSTdsawA,56700,7516365,57,2021-10-31 09:01:04,Balming Tiger
1390,UCbBzKnCYcG7E3EIkSTdsawA,56700,7528614,57,2021-10-31 15:01:04,Balming Tiger
1391,UCbBzKnCYcG7E3EIkSTdsawA,56700,7528614,57,2021-10-31 21:01:04,Balming Tiger
1392,UCbBzKnCYcG7E3EIkSTdsawA,56800,7528614,57,2021-11-01 03:01:03,Balming Tiger
1393,UCbBzKnCYcG7E3EIkSTdsawA,56800,7539876,57,2021-11-01 09:01:04,Balming Tiger

In [28]:
# 2. 시작 구독자 수 구하기

In [29]:
# 2-1 ct 기준 오름차순하고 channelid 중복 드랍으로 가장 먼저 값만 남기기

In [30]:
new_first = new.sort_values('ct').drop_duplicates('channelid')
new_first

,channelid,subcnt,viewcnt,videocnt,ct,channelname
393,UCDV9zgWo7b6nPg7i49oRQ5Q,922000,99187513,82,2021-10-03 03:01:02,논리왕 전기
266,UCqwNCDzQBfw2seMRJpL-RWg,322000,71955394,212,2021-10-03 03:01:02,츄정ChuJeong
139,UCEI4rb8YldV8v0dVUSo9ToQ,257000,28415226,73,2021-10-03 03:01:02,야전삽짱재
901,UCOYhhfLMGY8OjsbfGNVf7Lw,7520,1444890,15,2021-10-03 03:01:03,김농밀의 농밀한 삶
520,UClu0udsIHkalM416ttWe_Zw,55000,4681137,107,2021-10-03 03:01:03,와글와글 WagleWagle
1028,UCKOeR5Evsupc77nPL3qCMnw,10100,188523,21,2021-10-03 03:01:03,릴펄 Lilpearl
774,UCI9W73BWje69k7f1m_I4mbQ,14900,206221,49,2021-10-03 03:01:03,형사!탐정되다
647,UCM9Rx3EqBJ-jMhD2E8Gjb4g,215000,15902641,60,2021-10-03 03:01:03,조나단
12,UCkQCwnkQfgSuPTTnw_Y7v7w,1330000,414984078,738,2021-10-03 03:01:04,꽈뚜룹
1276,UCbBzKnCYcG7E3EIkSTdsawA,54300,7050078,54,2021-10-03 03:01:04,Balming Tiger
1155,UCs9H--14toIRdJQAD9qz9tA,471000,128772621,548,2021-10-03 03:01:04,곽토리 kwak tori

In [31]:
# 2-2 new_first에서 channelname이랑 subcnt만 남기고 이후 차이를 계산하기 위해 채널명으로 순서 맞춰주고 인덱스 초기화

In [32]:
new_first = new_first[['channelname','subcnt']].sort_values('channelname').reset_index(drop=True)
new_first

        channelname   subcnt
0     Balming Tiger    54300
1     곽토리 kwak tori   471000
2        김농밀의 농밀한 삶     7520
3               꽈뚜룹  1330000
4            논리왕 전기   922000
5       릴펄 Lilpearl    10100
6             야전삽짱재   257000
7   와글와글 WagleWagle    55000
8               조나단   215000
9        츄정ChuJeong   322000
10          형사!탐정되다    14900

In [33]:
# 2-3 # 2-2 new_last channelname이랑 subcnt만 남기고 이후 차이를 계산하기 위해 채널명으로 순서 맞춰주고 인덱스 초기화

In [34]:
new_last = new.sort_values('ct').drop_duplicates('channelid', keep='last')
new_last

,channelid,subcnt,viewcnt,videocnt,ct,channelname
256,UCEI4rb8YldV8v0dVUSo9ToQ,268000,30724301,80,2021-11-01 09:01:02,야전삽짱재
637,UClu0udsIHkalM416ttWe_Zw,55000,4706900,107,2021-11-01 09:01:03,와글와글 WagleWagle
1018,UCOYhhfLMGY8OjsbfGNVf7Lw,9060,1413038,16,2021-11-01 09:01:03,김농밀의 농밀한 삶
383,UCqwNCDzQBfw2seMRJpL-RWg,323000,74465223,223,2021-11-01 09:01:03,츄정ChuJeong
891,UCI9W73BWje69k7f1m_I4mbQ,25200,840670,47,2021-11-01 09:01:03,형사!탐정되다
510,UCDV9zgWo7b6nPg7i49oRQ5Q,911000,101255959,84,2021-11-01 09:01:03,논리왕 전기
764,UCM9Rx3EqBJ-jMhD2E8Gjb4g,227000,16810097,64,2021-11-01 09:01:03,조나단
1272,UCs9H--14toIRdJQAD9qz9tA,469000,130097921,563,2021-11-01 09:01:04,곽토리 kwak tori
1145,UCKOeR5Evsupc77nPL3qCMnw,21100,597680,8,2021-11-01 09:01:04,릴펄 Lilpearl
1393,UCbBzKnCYcG7E3EIkSTdsawA,56800,7539876,57,2021-11-01 09:01:04,Balming Tiger
129,UCkQCwnkQfgSuPTTnw_Y7v7w,1400000,440372648,746,2021-11-01 09:01:05,꽈뚜룹

In [35]:
new_last = new_last[['channelname','subcnt']].sort_values('channelname').reset_index(drop=True)
new_last

        channelname   subcnt
0     Balming Tiger    56800
1     곽토리 kwak tori   469000
2        김농밀의 농밀한 삶     9060
3               꽈뚜룹  1400000
4            논리왕 전기   911000
5       릴펄 Lilpearl    21100
6             야전삽짱재   268000
7   와글와글 WagleWagle    55000
8               조나단   227000
9        츄정ChuJeong   323000
10          형사!탐정되다    25200

In [36]:
# 3. 차이 계산할 데이터프레임을 만들기 위해 copy

In [37]:
new_dif = new_first.copy()

In [38]:
# 4. new_dif의 subcnt를 last에서 first를 뺀 값으로 바꾸기

In [39]:
new_dif['subcnt'] = new_last['subcnt'] - new_first['subcnt']
new_dif

        channelname  subcnt
0     Balming Tiger    2500
1     곽토리 kwak tori   -2000
2        김농밀의 농밀한 삶    1540
3               꽈뚜룹   70000
4            논리왕 전기  -11000
5       릴펄 Lilpearl   11000
6             야전삽짱재   11000
7   와글와글 WagleWagle       0
8               조나단   12000
9        츄정ChuJeong    1000
10          형사!탐정되다   10300

In [40]:
end = channel.loc[channel.ct.dt.strftime('%Y-%m-%d %H') =='2021-11-01 15']
start = channel.loc[channel.ct.dt.strftime('%Y-%m-%d %H') =='2021-10-03 03']

end_df = end[['channelname','subcnt']].reset_index(drop=True)
start_df = start[['channelname','subcnt']].reset_index(drop=True)

end_df.columns = ['channelname','end_sub']
start_df.columns = ['channelname','start_sub']


tt = pd.merge(start_df,end_df)
tt['del'] = tt['end_sub'] - tt['start_sub']
result = tt[['channelname','del']]
display(result)

        channelname    del
0               꽈뚜룹  70000
1             야전삽짱재  11000
2        츄정ChuJeong   1000
3            논리왕 전기 -11000
4   와글와글 WagleWagle      0
5               조나단  12000
6           형사!탐정되다  10300
7        김농밀의 농밀한 삶   1540
8       릴펄 Lilpearl  11000
9     곽토리 kwak tori  -2000
10    Balming Tiger   2500

In [41]:
list(new_dif['subcnt']) == list(result.sort_values('channelname')['del'])

True

In [42]:
# 순서가 달라도 정답으로 인정되려나...?

In [43]:
# Q. 각 비디오는 10분 간격으로 구독자수, 좋아요, 싫어요수, 댓글수가 수집된것으로 알려졌다.
# 공범 EP1의 비디오정보 데이터중 수집간격이 5분 이하, 20분이상인 데이터 구간( 해당 시점 전,후) 의 시각을 모두 출력하라

In [44]:
# 1. 공범 EP1만 추출 > '공범 EP1'로 추출하려니 되지 않았다. ' 공범 EP1'이라서 그랬다...ㅠ
# 추가로 시간 순 정렬 후 인덱스도 정리해주었다.

In [45]:
new = video[video['videoname'] == video['videoname'].unique()[0]].sort_values('ct').reset_index(drop=True)
new

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,6396,680,3,0,226,2021-10-07 19:10:03,공범 EP1
1,c5JQp6xafqc,13087,1113,7,0,273,2021-10-07 19:20:02,공범 EP1
2,c5JQp6xafqc,19991,1446,12,0,363,2021-10-07 19:30:03,공범 EP1
3,c5JQp6xafqc,27451,1859,19,0,479,2021-10-07 19:40:03,공범 EP1
4,c5JQp6xafqc,36559,2306,23,0,602,2021-10-07 19:50:03,공범 EP1
...,...,...,...,...,...,...,...,...
3487,c5JQp6xafqc,3179698,41040,1113,0,7673,2021-11-01 14:50:04,공범 EP1
3488,c5JQp6xafqc,3179971,41042,1113,0,7673,2021-11-01 15:00:03,공범 EP1
3489,c5JQp6xafqc,3179971,41042,1113,0,7673,2021-11-01 15:10:03,공범 EP1
3490,c5JQp6xafqc,3180332,41043,1113,0,7674,2021-11-01 15:20:02,공범 EP1
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,공범 EP1

In [46]:
import datetime

In [47]:
# 2. 5분 차이 이하인 기준 인덱스랑 20분 차이 이상인 기준 인덱스 index에 담기

In [48]:
index = []

In [49]:
# 5분 차이 이하

In [50]:
for i in range(len(new)-1):
  if str((new.loc[i+1,'ct'] - new.loc[i,'ct']) >= datetime.timedelta(minutes=5)) == 'False':
    index.append(i)

In [51]:
# 20분 차이 이상

In [52]:
for i in range(len(new)-1):
  if str((new.loc[i+1,'ct'] - new.loc[i,'ct']) <= datetime.timedelta(minutes=20)) == 'False':
    index.append(i)

In [53]:
# 3. 앞 뒤도 포함할 것을 요구해서 기준 인덱스 +1, +2를 추가로 담아줬다.

In [54]:
for i in range(len(index)):
  index.append(index[i]+1)
  index.append(index[i]+2)

In [55]:
# 4. 중복되는 것이 있어서 set으로 우선 바꾸고 다시 list화했다. 그리고 보기 좋게 오름차순 정렬.

In [56]:
result = sorted(list(set(index)))
result

[720, 721, 722, 723, 1635, 1636, 1637]

In [57]:
# 5. 결과 인덱스로 해당하는 행들 추출

In [58]:
my_answer = new.loc[result, :]
my_answer

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
720,c5JQp6xafqc,2153676,34104,830,0,7120,2021-10-12 19:20:03,공범 EP1
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
723,c5JQp6xafqc,2228669,34566,849,0,7194,2021-10-13 09:50:03,공범 EP1
1635,c5JQp6xafqc,2706691,37893,987,0,7410,2021-10-19 17:50:02,공범 EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,공범 EP1
1637,c5JQp6xafqc,2708448,37903,988,0,7410,2021-10-19 18:30:03,공범 EP1

In [59]:
import datetime

ep_one = video.loc[video.videoname.str.contains('1')].sort_values('ct').reset_index(drop=True)

ep_one[
        (ep_one.ct.diff(1) >=datetime.timedelta(minutes=20)) | \
        (ep_one.ct.diff(1) <=datetime.timedelta(minutes=5))
      
      ]

answer = ep_one[ep_one.index.isin([720,721,722,723,1635,1636,1637])]
display(answer)

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
720,c5JQp6xafqc,2153676,34104,830,0,7120,2021-10-12 19:20:03,공범 EP1
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
723,c5JQp6xafqc,2228669,34566,849,0,7194,2021-10-13 09:50:03,공범 EP1
1635,c5JQp6xafqc,2706691,37893,987,0,7410,2021-10-19 17:50:02,공범 EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,공범 EP1
1637,c5JQp6xafqc,2708448,37903,988,0,7410,2021-10-19 18:30:03,공범 EP1

In [60]:
# 시간 관련된 코드가 익숙하지 않다... 추가 공부 필요 (diff가 뭐지?)

In [61]:
# 각 에피소드의 시작날짜(년-월-일)를 에피소드 이름과 묶어 데이터 프레임으로 만들고 출력하라

In [62]:
# 1. 시간 순 정렬 후 비디오 네임 기준으로 중복 드랍

In [63]:
start = video.sort_values('ct').drop_duplicates('videoname')
start

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
10,c5JQp6xafqc,6396,680,3,0,226,2021-10-07 19:10:03,공범 EP1
3496,23QQ1ru9YQg,11153,812,4,0,281,2021-10-09 19:10:03,공범 EP2
6696,GygoAk1hDU0,10240,735,5,0,241,2021-10-14 19:10:04,공범 EP3
9264,bK0_3Vbfvs8,23581,1213,6,0,382,2021-10-16 19:10:04,공범 EP4
11544,hv7FBjskAu0,16777,875,9,0,302,2021-10-21 19:10:04,공범 EP5
13661,AxGKHmXyuAE,24331,1126,7,0,355,2021-10-23 19:10:04,공범 EP6
13106,QUjQbgj5IXM,32404,1540,10,0,463,2021-10-28 19:10:04,공범 EP7
14935,yZt-h-KcmUE,82015,3338,78,0,1438,2021-10-30 19:20:04,공범 EP8

In [64]:
# 2. ct 컬럼 date로 변경

In [65]:
start['ct'] = start['ct'].dt.date

In [66]:
# ct, videoname만 추출

In [67]:
my_answer = start[['ct','videoname']]
my_answer

               ct videoname
10     2021-10-07    공범 EP1
3496   2021-10-09    공범 EP2
6696   2021-10-14    공범 EP3
9264   2021-10-16    공범 EP4
11544  2021-10-21    공범 EP5
13661  2021-10-23    공범 EP6
13106  2021-10-28    공범 EP7
14935  2021-10-30    공범 EP8

In [68]:
# Q. "공범” 컨텐츠의 경우 19:00시에 공개 되는것으로 알려져있다.
# 공개된 날의 21시의 viewcnt, ct, videoname 으로 구성된 데이터 프레임을 viewcnt를 내림차순으로 정렬하여 출력하라

In [69]:
# 1. 시간 순 정렬 후 인덱스 정리

In [70]:
video_sort = video.sort_values('ct').reset_index(drop=True)
video_sort

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,6396,680,3,0,226,2021-10-07 19:10:03,공범 EP1
1,c5JQp6xafqc,13087,1113,7,0,273,2021-10-07 19:20:02,공범 EP1
2,c5JQp6xafqc,19991,1446,12,0,363,2021-10-07 19:30:03,공범 EP1
3,c5JQp6xafqc,27451,1859,19,0,479,2021-10-07 19:40:03,공범 EP1
4,c5JQp6xafqc,36559,2306,23,0,602,2021-10-07 19:50:03,공범 EP1
...,...,...,...,...,...,...,...,...
15196,23QQ1ru9YQg,2199328,25566,763,0,9171,2021-11-01 15:30:03,공범 EP2
15197,hv7FBjskAu0,1503435,19926,421,0,12434,2021-11-01 15:30:04,공범 EP5
15198,AxGKHmXyuAE,1750222,24494,389,0,13025,2021-11-01 15:30:04,공범 EP6
15199,QUjQbgj5IXM,1630200,29335,400,0,18247,2021-11-01 15:30:05,공범 EP7
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,공범 EP8

In [71]:
# 2. videoname 기준 drop을 통해 공개일을 알아내려고 함.

In [72]:
start = video_sort.drop_duplicates('videoname')
start

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,6396,680,3,0,226,2021-10-07 19:10:03,공범 EP1
288,23QQ1ru9YQg,11153,812,4,0,281,2021-10-09 19:10:03,공범 EP2
1561,GygoAk1hDU0,10240,735,5,0,241,2021-10-14 19:10:04,공범 EP3
2426,bK0_3Vbfvs8,23581,1213,6,0,382,2021-10-16 19:10:04,공범 EP4
5299,hv7FBjskAu0,16777,875,9,0,302,2021-10-21 19:10:04,공범 EP5
6739,AxGKHmXyuAE,24331,1126,7,0,355,2021-10-23 19:10:04,공범 EP6
11056,QUjQbgj5IXM,32404,1540,10,0,463,2021-10-28 19:10:04,공범 EP7
13080,yZt-h-KcmUE,82015,3338,78,0,1438,2021-10-30 19:20:04,공범 EP8

In [73]:
start['ct'] = start['ct'].dt.date
start

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,6396,680,3,0,226,2021-10-07,공범 EP1
288,23QQ1ru9YQg,11153,812,4,0,281,2021-10-09,공범 EP2
1561,GygoAk1hDU0,10240,735,5,0,241,2021-10-14,공범 EP3
2426,bK0_3Vbfvs8,23581,1213,6,0,382,2021-10-16,공범 EP4
5299,hv7FBjskAu0,16777,875,9,0,302,2021-10-21,공범 EP5
6739,AxGKHmXyuAE,24331,1126,7,0,355,2021-10-23,공범 EP6
11056,QUjQbgj5IXM,32404,1540,10,0,463,2021-10-28,공범 EP7
13080,yZt-h-KcmUE,82015,3338,78,0,1438,2021-10-30,공범 EP8

In [74]:
# 3. 공개일에 21:00:00을 붙여서 datetime으로 만들고, 공개일에 맞는 videoname을 매칭해서 데이터프레임으로 만들고자 함.

In [75]:
date_list = []
name_list = []

In [76]:
for i in range(len(start)):
  date_list.append(str(start['ct'].values[i])+' '+'21:00:00')
  name_list.append(start.iloc[i,-1])

In [77]:
new = pd.DataFrame([date_list,name_list]).T
new[0] = pd.to_datetime(new[0])
new

                    0        1
0 2021-10-07 21:00:00   공범 EP1
1 2021-10-09 21:00:00   공범 EP2
2 2021-10-14 21:00:00   공범 EP3
3 2021-10-16 21:00:00   공범 EP4
4 2021-10-21 21:00:00   공범 EP5
5 2021-10-23 21:00:00   공범 EP6
6 2021-10-28 21:00:00   공범 EP7
7 2021-10-30 21:00:00   공범 EP8

In [78]:
# 4. 만든 new 데이터프레임에서 0컬럼의 date 이상이면서 1컬럼의 값과 일치하는 첫번째 행의 인덱스 추출

In [79]:
result_index = []

In [80]:
for i in range(len(new)):
  result_index.append(video_sort[(video_sort.loc[:,'ct'] >= new.loc[i,0]) & (video_sort.loc[:,'videoname'] == new.loc[i,1])].head(1).index[0])

In [81]:
# 5. 추출한 인덱스로 행 찾기

In [82]:
result = video_sort.loc[result_index, :]
result

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
11,c5JQp6xafqc,117340,6032,69,0,1409,2021-10-07 21:00:03,공범 EP1
310,23QQ1ru9YQg,148144,6039,122,0,2127,2021-10-09 21:00:03,공범 EP2
1593,GygoAk1hDU0,147183,5839,76,0,3105,2021-10-14 21:00:04,공범 EP3
2470,bK0_3Vbfvs8,217674,7854,82,0,5029,2021-10-16 21:00:04,공범 EP4
5354,hv7FBjskAu0,201179,6897,105,0,4283,2021-10-21 21:00:04,공범 EP5
6805,AxGKHmXyuAE,213899,8259,79,0,4325,2021-10-23 21:00:06,공범 EP6
11132,QUjQbgj5IXM,252032,11111,90,0,6395,2021-10-28 21:00:04,공범 EP7
13160,yZt-h-KcmUE,264029,11598,1438,0,13292,2021-10-30 21:00:08,공범 EP8

In [83]:
# 6. 문제 조건에 맞게 컬럼 추출 후 viewcnt 내림차순하고 인덱스 정리

In [84]:
my_answer = result[['videoname','viewcnt','ct']].sort_values('viewcnt', ascending=False).reset_index(drop=True)
my_answer

  videoname  viewcnt                  ct
0    공범 EP8   264029 2021-10-30 21:00:08
1    공범 EP7   252032 2021-10-28 21:00:04
2    공범 EP4   217674 2021-10-16 21:00:04
3    공범 EP6   213899 2021-10-23 21:00:06
4    공범 EP5   201179 2021-10-21 21:00:04
5    공범 EP2   148144 2021-10-09 21:00:03
6    공범 EP3   147183 2021-10-14 21:00:04
7    공범 EP1   117340 2021-10-07 21:00:03

In [85]:
video_copy = video.copy()
video_copy['time']= video_copy.ct.dt.hour

answer = video_copy.loc[video_copy['time'] ==21] \
            .sort_values(['videoname','ct'])\
            .drop_duplicates('videoname') \
            .sort_values('viewcnt',ascending=False)[['videoname','viewcnt','ct']]\
            .reset_index(drop=True)

display(answer)

  videoname  viewcnt                  ct
0    공범 EP8   264029 2021-10-30 21:00:08
1    공범 EP7   252032 2021-10-28 21:00:04
2    공범 EP4   217674 2021-10-16 21:00:04
3    공범 EP6   213899 2021-10-23 21:00:06
4    공범 EP5   201179 2021-10-21 21:00:04
5    공범 EP2   148144 2021-10-09 21:00:03
6    공범 EP3   147183 2021-10-14 21:00:04
7    공범 EP1   117340 2021-10-07 21:00:03

In [86]:
# 이렇게 간단하다니...ㅠㅠㅠㅠㅠㅠㅠㅠㅠ

In [87]:
# Q. video 정보의 가장 최근 데이터들에서 각 에피소드의 싫어요/좋아요 비율을 ratio 컬럼으로 만들고
# videoname, ratio로 구성된 데이터 프레임을 ratio를 오름차순으로 정렬하라

In [88]:
# 1. 가장 최근 순으로 정렬

In [89]:
video_copy = video.copy()
video_copy = video_copy.sort_values('ct', ascending=False)
video_copy

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,공범 EP8
13660,QUjQbgj5IXM,1630200,29335,400,0,18247,2021-11-01 15:30:05,공범 EP7
14934,AxGKHmXyuAE,1750222,24494,389,0,13025,2021-11-01 15:30:04,공범 EP6
13105,hv7FBjskAu0,1503435,19926,421,0,12434,2021-11-01 15:30:04,공범 EP5
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,공범 EP1
...,...,...,...,...,...,...,...,...
14,c5JQp6xafqc,36559,2306,23,0,602,2021-10-07 19:50:03,공범 EP1
13,c5JQp6xafqc,27451,1859,19,0,479,2021-10-07 19:40:03,공범 EP1
12,c5JQp6xafqc,19991,1446,12,0,363,2021-10-07 19:30:03,공범 EP1
11,c5JQp6xafqc,13087,1113,7,0,273,2021-10-07 19:20:02,공범 EP1
10,c5JQp6xafqc,6396,680,3,0,226,2021-10-07 19:10:03,공범 EP1

In [90]:
# 2. 각 에피소드를 구하기 위해서 drop_duplicates 활용

In [91]:
video_drop = video_copy.drop_duplicates('videoname')
video_drop

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,공범 EP8
13660,QUjQbgj5IXM,1630200,29335,400,0,18247,2021-11-01 15:30:05,공범 EP7
14934,AxGKHmXyuAE,1750222,24494,389,0,13025,2021-11-01 15:30:04,공범 EP6
13105,hv7FBjskAu0,1503435,19926,421,0,12434,2021-11-01 15:30:04,공범 EP5
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,공범 EP1
6695,23QQ1ru9YQg,2199328,25566,763,0,9171,2021-11-01 15:30:03,공범 EP2
11543,bK0_3Vbfvs8,1818493,22703,408,0,16949,2021-11-01 15:30:03,공범 EP4
9263,GygoAk1hDU0,1671294,22719,508,0,12499,2021-11-01 15:30:03,공범 EP3

In [92]:
# 3. ratio 컬럼 생성

In [93]:
video_drop['ratio'] = video_drop['dislikecnt']/video_drop['likecnt']
video_drop

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,ratio
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,공범 EP8,0.141357
13660,QUjQbgj5IXM,1630200,29335,400,0,18247,2021-11-01 15:30:05,공범 EP7,0.013636
14934,AxGKHmXyuAE,1750222,24494,389,0,13025,2021-11-01 15:30:04,공범 EP6,0.015881
13105,hv7FBjskAu0,1503435,19926,421,0,12434,2021-11-01 15:30:04,공범 EP5,0.021128
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,공범 EP1,0.027118
6695,23QQ1ru9YQg,2199328,25566,763,0,9171,2021-11-01 15:30:03,공범 EP2,0.029844
11543,bK0_3Vbfvs8,1818493,22703,408,0,16949,2021-11-01 15:30:03,공범 EP4,0.017971
9263,GygoAk1hDU0,1671294,22719,508,0,12499,2021-11-01 15:30:03,공범 EP3,0.022360

In [94]:
# 4. 요구하는 컬럼만 추출하고 ratio 오름차순 정렬 후 인덱스 정리

In [95]:
my_answer = video_drop[['videoname','ratio']].sort_values('ratio').reset_index(drop=True)
my_answer

  videoname     ratio
0    공범 EP7  0.013636
1    공범 EP6  0.015881
2    공범 EP4  0.017971
3    공범 EP5  0.021128
4    공범 EP3  0.022360
5    공범 EP1  0.027118
6    공범 EP2  0.029844
7    공범 EP8  0.141357

In [96]:
target = video.sort_values('ct').drop_duplicates('videoname',keep='last')
target['ratio'] =target['dislikecnt'] / target['likecnt']

answer = target.sort_values('ratio')[['videoname','ratio']].reset_index(drop=True)
answer

  videoname     ratio
0    공범 EP7  0.013636
1    공범 EP6  0.015881
2    공범 EP4  0.017971
3    공범 EP5  0.021128
4    공범 EP3  0.022360
5    공범 EP1  0.027118
6    공범 EP2  0.029844
7    공범 EP8  0.141357

In [97]:
# Q. 2021-11-01 00:00:00 ~ 15:00:00까지 각 에피소드별 viewcnt의 증가량을 데이터 프레임으로 만드시오

In [98]:
# 1. 2021-11-01 00:00:00 ~ 15:00:00 데이터 추출

In [99]:
new = video[(video['ct'] >= '2021-11-01 00:00:00') & (video['ct'] <= '2021-11-01 15:00:00')]
new

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
3398,c5JQp6xafqc,3166400,40970,1107,0,7665,2021-11-01 00:00:03,공범 EP1
3399,c5JQp6xafqc,3166721,40973,1107,0,7665,2021-11-01 00:10:02,공범 EP1
3400,c5JQp6xafqc,3167110,40972,1108,0,7665,2021-11-01 00:20:03,공범 EP1
3401,c5JQp6xafqc,3167459,40975,1108,0,7665,2021-11-01 00:30:03,공범 EP1
3402,c5JQp6xafqc,3167809,40977,1108,0,7665,2021-11-01 00:40:03,공범 EP1
...,...,...,...,...,...,...,...,...
15192,yZt-h-KcmUE,1281140,25561,3609,0,31532,2021-11-01 14:10:04,공범 EP8
15193,yZt-h-KcmUE,1282186,25565,3611,0,31540,2021-11-01 14:20:04,공범 EP8
15194,yZt-h-KcmUE,1283259,25567,3613,0,31556,2021-11-01 14:30:06,공범 EP8
15195,yZt-h-KcmUE,1284443,25577,3615,0,31569,2021-11-01 14:40:08,공범 EP8
15196,yZt-h-KcmUE,1285474,25582,3615,0,31603,2021-11-01 14:50:06,공범 EP8

In [100]:
# 2. ct 정렬이 안 되어 있다고 가정하고, 00:00:00에 가까운 각 에피소드들 구하기

In [101]:
new_start = new.sort_values('ct').drop_duplicates('videoname')
new_start

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
3398,c5JQp6xafqc,3166400,40970,1107,0,7665,2021-11-01 00:00:03,공범 EP1
6602,23QQ1ru9YQg,2188578,25511,756,0,9179,2021-11-01 00:00:03,공범 EP2
9170,GygoAk1hDU0,1660916,22667,505,0,12505,2021-11-01 00:00:03,공범 EP3
14841,AxGKHmXyuAE,1735457,24409,384,0,13006,2021-11-01 00:00:04,공범 EP6
11450,bK0_3Vbfvs8,1808141,22646,403,0,16955,2021-11-01 00:00:04,공범 EP4
13012,hv7FBjskAu0,1492223,19865,415,0,12436,2021-11-01 00:00:04,공범 EP5
15107,yZt-h-KcmUE,1196327,24944,3470,0,30539,2021-11-01 00:00:05,공범 EP8
13567,QUjQbgj5IXM,1602201,29193,389,0,18435,2021-11-01 00:00:05,공범 EP7

In [102]:
# new_start 정리

In [103]:
new_start = new_start.sort_values('videoname').reset_index(drop=True)
new_start

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,3166400,40970,1107,0,7665,2021-11-01 00:00:03,공범 EP1
1,23QQ1ru9YQg,2188578,25511,756,0,9179,2021-11-01 00:00:03,공범 EP2
2,GygoAk1hDU0,1660916,22667,505,0,12505,2021-11-01 00:00:03,공범 EP3
3,bK0_3Vbfvs8,1808141,22646,403,0,16955,2021-11-01 00:00:04,공범 EP4
4,hv7FBjskAu0,1492223,19865,415,0,12436,2021-11-01 00:00:04,공범 EP5
5,AxGKHmXyuAE,1735457,24409,384,0,13006,2021-11-01 00:00:04,공범 EP6
6,QUjQbgj5IXM,1602201,29193,389,0,18435,2021-11-01 00:00:05,공범 EP7
7,yZt-h-KcmUE,1196327,24944,3470,0,30539,2021-11-01 00:00:05,공범 EP8

In [104]:
# 3. 15:00:00에 가까운 각 에피소드들 구하기

In [105]:
new_finish = new.sort_values('ct', ascending=False).drop_duplicates('videoname')
new_finish

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
15196,yZt-h-KcmUE,1285474,25582,3615,0,31603,2021-11-01 14:50:06,공범 EP8
13656,QUjQbgj5IXM,1629150,29324,399,0,18246,2021-11-01 14:50:06,공범 EP7
13101,hv7FBjskAu0,1503047,19923,421,0,12434,2021-11-01 14:50:05,공범 EP5
14930,AxGKHmXyuAE,1749598,24492,389,0,13024,2021-11-01 14:50:05,공범 EP6
3487,c5JQp6xafqc,3179698,41040,1113,0,7673,2021-11-01 14:50:04,공범 EP1
6691,23QQ1ru9YQg,2198878,25563,763,0,9172,2021-11-01 14:50:04,공범 EP2
9259,GygoAk1hDU0,1670843,22714,508,0,12498,2021-11-01 14:50:04,공범 EP3
11539,bK0_3Vbfvs8,1817965,22701,407,0,16950,2021-11-01 14:50:04,공범 EP4

In [106]:
# new_finish 정리

In [107]:
new_finish = new_finish.sort_values('videoname').reset_index(drop=True)
new_finish

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,3179698,41040,1113,0,7673,2021-11-01 14:50:04,공범 EP1
1,23QQ1ru9YQg,2198878,25563,763,0,9172,2021-11-01 14:50:04,공범 EP2
2,GygoAk1hDU0,1670843,22714,508,0,12498,2021-11-01 14:50:04,공범 EP3
3,bK0_3Vbfvs8,1817965,22701,407,0,16950,2021-11-01 14:50:04,공범 EP4
4,hv7FBjskAu0,1503047,19923,421,0,12434,2021-11-01 14:50:05,공범 EP5
5,AxGKHmXyuAE,1749598,24492,389,0,13024,2021-11-01 14:50:05,공범 EP6
6,QUjQbgj5IXM,1629150,29324,399,0,18246,2021-11-01 14:50:06,공범 EP7
7,yZt-h-KcmUE,1285474,25582,3615,0,31603,2021-11-01 14:50:06,공범 EP8

In [108]:
# 4. finish - start하고 모양 정리

In [109]:
result = new_finish.copy()

In [110]:
result['viewcnt'] = new_finish['viewcnt'] - new_start['viewcnt']

In [111]:
my_answer = result[['videoname','viewcnt']].set_index('videoname')
my_answer

           viewcnt
videoname
 공범 EP1      13298
 공범 EP2      10300
 공범 EP3       9927
 공범 EP4       9824
 공범 EP5      10824
 공범 EP6      14141
 공범 EP7      26949
 공범 EP8      89147

In [112]:
start = pd.to_datetime("2021-11-01 00:00:00")
end = pd.to_datetime("2021-11-01 15:00:00")

target = video.loc[(video["ct"] >= start) & (video['ct'] <= end)].reset_index(drop=True)

def check(x):
    result = max(x) - min(x)
    return result

answer = target[['videoname','viewcnt']].groupby("videoname").agg(check)
answer

           viewcnt
videoname
 공범 EP1      13298
 공범 EP2      10300
 공범 EP3       9927
 공범 EP4       9824
 공범 EP5      10824
 공범 EP6      14141
 공범 EP7      26949
 공범 EP8      89147

In [113]:
# Q. video 데이터 중에서 중복되는 데이터가 존재한다. 중복되는 각 데이터의 시간대와 videoname 을 구하여라

In [114]:
my_answer = video[video.duplicated()][['videoname','ct']]
my_answer

     videoname                  ct
722     공범 EP1 2021-10-13 09:41:37
3927    공범 EP2 2021-10-13 09:41:37

In [115]:
answer  = video[video.index.isin(set(video.index) -  set(video.drop_duplicates().index))]
result = answer[['videoname','ct']]
display(result)

     videoname                  ct
722     공범 EP1 2021-10-13 09:41:37
3927    공범 EP2 2021-10-13 09:41:37

In [116]:
# 코드를 이렇게 짠 이유가 있나...?