<a href="https://colab.research.google.com/github/heeeeeho/BigData_Analyst/blob/main/%EB%B9%85%EB%B6%84%EA%B8%B0_%ED%95%B8%EB%93%9C%ED%8F%B0_%EA%B0%80%EA%B2%A9_%EC%98%88%EC%B8%A1%EB%8D%B0%EC%9D%B4%ED%84%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 핸드폰 가격 예측데이터

In [1]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/mobile/train.csv")
df.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

Q. price_range 의 각 value를 그룹핑하여 각 그룹의 n_cores 의 빈도가 가장높은 value와 그 빈도수를 구하여라

In [22]:
my_answer = df[['price_range','n_cores']].groupby(['price_range','n_cores']).size().sort_values().groupby('price_range').tail(1)
my_answer

price_range  n_cores
0            2          69
3            5          70
2            4          73
1            1          76
dtype: int64

In [23]:
answer =df[['price_range','n_cores']].groupby(['price_range','n_cores']).size().sort_values(0).groupby(level=0).tail(1)
# level=0 > 제일 왼쪽 컬럼을 중심
answer

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of Series.sort_values will be keyword-only
  """Entry point for launching an IPython kernel.

price_range  n_cores
0            2          69
3            5          70
2            4          73
1            1          76
dtype: int64

Q. price_range 값이 3인 그룹에서 상관관계가 2번째로 높은 두 컬럼과 그 상관계수를 구하여라

In [53]:
new = df[df['price_range'] == 3].corr().unstack().to_frame().reset_index().dropna().drop_duplicates()

In [54]:
new = new.drop(new[new[0] == 1].index)
new

           level_0       level_1         0
1    battery_power          blue -0.019588
2    battery_power   clock_speed -0.047833
3    battery_power      dual_sim -0.134352
4    battery_power            fc  0.083515
5    battery_power        four_g  0.014355
..             ...           ...       ...
413           wifi          sc_h  0.038308
414           wifi          sc_w  0.018241
415           wifi     talk_time -0.029220
416           wifi       three_g -0.026074
417           wifi  touch_screen  0.072470

[380 rows x 3 columns]

In [55]:
new = new.sort_values(by=0, ascending=False).reset_index(drop=True)
new

           level_0        level_1         0
0               pc             fc  0.635166
1               fc             pc  0.635166
2          three_g         four_g  0.604218
3           four_g        three_g  0.604218
4         px_width      px_height  0.538207
..             ...            ...       ...
375      px_height            ram -0.238720
376            ram       px_width -0.257496
377       px_width            ram -0.257496
378  battery_power            ram -0.262759
379            ram  battery_power -0.262759

[380 rows x 3 columns]

In [57]:
my_answer = new.loc[1,:]
my_answer

level_0          fc
level_1          pc
0          0.635166
Name: 1, dtype: object

In [58]:
cordf = df.loc[df['price_range']==3].corr().unstack().sort_values(ascending=False)
answer  = cordf.loc[cordf!=1].reset_index().iloc[1]
print(answer)

level_0          pc
level_1          fc
0          0.635166
Name: 1, dtype: object